:root {
    --main-media-margin: 10px;
}

// Include space when programmatically scrolling to a question
html,
body {
    scroll-padding-top: var(--theme-card-gap);
}

#form-title {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 1.22;
}

/** hide stuff **/

.or [lang]:not(.active, .question),
.or-option-translations,
.or-appearance-page-break,
.or-constraint-msg,
.or-required-msg,
.or-relevant-msg,
.invalid-value-msg,
.option-wrapper .itemset-template,
.itemset-labels {
    display: none;
}

.or,
.or-group {
    > h3 {
        padding: 5px 0 15px 0;
        word-wrap: break-word;
    }

    > h4 strong {
        font-size: inherit;
    }
}

.or.hide {
    display: none;
}

.or {
    .question-label {
        word-break: break-word;
        display: inline-block; // to ensure that comment icons are displayed next to multi-line labels and not below
    }
}

/** hints **/

.or-hint.active {
    display: block;
    margin: 0.6rem 0 0;
    font-size: 0.667em;

    ~ br {
        display: none;
    }
}

.or-form-guidance.active {
    margin: 5px 0;
    color: var(--brand-primary-color);

    summary {
        color: #888888;
    }
}

.or .form-logo {
    display: block;
    text-align: center;
    width: 100%;

    img {
        display: inline;
        max-height: 200px;
        max-width: 120px;
    }
}

#stats + .or-group,
#or-preload-items + .or-group,
#form-languages + .or-group {
    border-top: none;
}

.question {
    display: block;
    border: none;
    position: relative;

    > fieldset {
        padding: 0;
        margin: 0;
        border: none;
    }

    > img,
    > video,
    > audio {
        margin: var(--main-media-margin) auto var(--main-media-margin);
    }
}

.question.readonly {
    input[readonly].empty,
    select[readonly].empty,
    textarea[readonly].empty {
        display: none;
    }

    strong {
        font-size: inherit;
    }
}

label,
legend {
    font-size: var(--font-size-base);
}

.or {
    img,
    audio,
    video {
        display: block;
        max-height: 300px;
        max-width: 70%;
    }

    video {
        max-width: 100%;
    }
}

legend {
    display: block;
    position: relative;
    border: none;
    width: 100%;
    padding: 0;
    margin-bottom: 12px;
}

//works in safari, some other webkit browsers
.option-wrapper {
    // this flexiness is required for appearance="random"
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    > label {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        align-items: start;
        margin: 0;
        font-weight: 400;
        line-height: 1.6;
        cursor: pointer;
    }

    > label input {
        flex-shrink: 0;
        margin: 0.3em 0 0 0.2rem;
    }

    .option-label {
        display: block;
        word-break: break-word;
    }

    img,
    video,
    audio {
        margin: var(--main-media-margin) 0 var(--main-media-margin)
            var(--main-media-margin);
    }
}

.or[dir='rtl'] {
    .option-wrapper {
        .option-label {
            margin-right: 30px;
        }

        img,
        video,
        audio {
            margin: var(--main-media-margin) var(--main-media-margin)
                var(--main-media-margin) 0;
        }
    }
}

.touch {
    .question.simple-select {
        // touch radio buttons and checkboxes
        .option-wrapper > label {
            background-color: transparent;
            border: 1px solid #ccc;
            border-radius: 4px;
            //width: auto;
            margin: 0 1px 6.4px 1px;
            padding: 10px;

            input[type='radio'],
            input[type='checkbox'] {
                //slight variation between grid and fh theme for default radio/checkbox
                margin-left: 5px;
            }

            &:focus,
            &:hover,
            &:active {
                background-color: var(--brand-secondary-color);
            }
        }
    }

    input[type='text'],
    .print-input-text,
    input[type='tel'],
    input[type='password'],
    input[type='url'],
    input[type='email'],
    input[type='file'],
    input[type='date'],
    input[type='month'],
    input[type='time'],
    input[type='datetime-local'],
    input[type='number'],
    textarea,
    select {
        margin: 10px 0 10px 0;
        color: #104b66;
    }

    input[type='text'],
    .print-input-text,
    input[type='tel'],
    input[type='password'],
    input[type='url'],
    input[type='email'],
    input[type='file'],
    input[type='date'],
    input[type='month'],
    input[type='time'],
    input[type='datetime-local'],
    input[type='number'],
    textarea {
        border: 1px solid #ddd8ce;
    }

    select {
        width: 100%;
    }
}

input[type='text'],
.print-input-text,
input[type='tel'],
input[type='password'],
input[type='url'],
input[type='email'],
input[type='file'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='datetime-local'],
input[type='number'],
input[type='range'],
textarea,
select,
.widget {
    display: block;
}

input:not([type='radio']):not([type='checkbox']),
textarea,
.print-input-text {
    height: var(--input-height);
}

select {
    width: var(--input-max-width);
}

.question input {
    &[type='text'],
    &[type='tel'],
    &[type='password'],
    &[type='url'],
    &[type='email'],
    &[type='file'] {
        width: var(--input-max-width);
    }

    &[type='date'],
    &[type='month'],
    &[type='datetime-local'],
    &[type='number'],
    &[type='time'],
    &[type='text'].mask-date {
        width: var(--input-min-width);
    }

    &[type='radio'],
    &[type='checkbox'] {
        display: block;
    }
}

.question .print-input-text {
    width: var(--input-max-width);
}

.question textarea {
    width: var(--input-max-width);
    resize: vertical;
    min-height: 9em;
}

.alert {
    margin-bottom: 4px;
}

.required {
    color: var(--theme-control-required-color);
}

.question,
.question > fieldset > legend {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: [required] auto [label] 1fr;
    grid-template-rows:
        [label] auto
        repeat(auto-fill, minmax(0px, 1fr));
}

:is(.question, .question > fieldset > legend) > * {
    grid-column: 1 / -1;
}

:is(.question, .question > fieldset > legend)
    > :is(.question-label, .required) {
    grid-row: 2 / -1;
    margin-bottom: 2rem;
}

.or > .inferred-label-question {
    display: block;

    #form-title {
        margin-top: 0;
    }
}

:is(.question, .question > fieldset > legend) > .question-label {
    grid-column: label;
}

:is(.question, .question > fieldset > legend) > .required {
    grid-column: required;
    width: 1.5ch;
    margin-left: -1.5ch;
}

.or .question.inferred-label-question .question-label {
    margin: 0;
}

.or[dir='rtl'] {
    .required {
        left: auto;
        right: -10px;
    }
}

.disabled {
    opacity: 0.6;
}

.core-feedback-warning-message,
.core-feedback-error-message,
.invalid-value .invalid-value-msg.active,
.invalid-constraint .or-constraint-msg.active,
.invalid-required .or-required-msg.active,
.question.invalid-relevant .or-relevant-msg.active {
    display: none;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;

    &:not(:empty) {
        display: flex;
    }
}

.core-feedback-warning-message,
.core-feedback-error-message,
.or-required-msg.active,
.or-constraint-msg.active,
.or-relevant-msg.active,
.invalid-value-msg.active {
    --feedback-color: var(--current-feedback-color, var(--state-danger-text));

    font-weight: 600;
    padding-top: 0.5rem;
    font-size: 0.85em;
    color: var(--feedback-color);

    &::before {
        --mask: var(--image-icon-error) 50%/2rem no-repeat;

        content: '';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        mask: var(--mask);
        -webkit-mask: var(--mask);
        background-color: var(--feedback-color);
    }
}

// this may have a very significant positive impact on performance
.or .or-branch {
    &.disabled,
    &.or-branch.pre-init {
        display: none;
    }
}
