button {
    background: none;
    border: none;
}

.btn,
.form-footer .previous-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--input-height);
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2rem;
    font-size: 1em;
    line-height: 1.25;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &:focus,
    &:link,
    &:active,
    &:visited {
        text-decoration: none;
    }

    &[disabled],
    &.disabled {
        cursor: not-allowed;
    }
}

.btn:not(.dropdown-toggle),
.form-footer .previous-page {
    border-radius: var(--button-radius, calc(var(--input-height) / 2));
}

.btn,
.btn-default,
.form-footer .previous-page,
.btn-primary,
.btn-bg-icon-only {
    &:focus,
    &:focus-visible {
        border-color: var(--theme-control-focus-border-color);
        outline: 1px solid var(--theme-control-focus-border-color);
    }
}

.btn-default,
.form-footer .previous-page,
.btn-primary {
    --button-bg: hsl(
        var(--button-bg-hue),
        var(--button-bg-saturation),
        var(--button-bg-lightness)
    );
    --button-border: var(--theme-control-border-color);

    color: var(--button-color);
    background-color: var(--button-bg);
    border-color: var(--theme-control-border-color);

    &:hover,
    &:active,
    &.active,
    .open &.dropdown-toggle {
        color: var(--button-color);
        border-color: var(--theme-control-hover-border-color);
    }

    &:active,
    &.active,
    .open &.dropdown-toggle {
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: var(--button-bg);
            border-color: var(--button-border);
        }
    }

    .badge {
        color: var(--button-bg);
        background-color: var(--button-color);
    }
}

.btn-default,
.form-footer .previous-page {
    --button-color: var(--btn-default-color);
    --button-bg-hue: var(--btn-default-bg-hue);
    --button-bg-saturation: var(--btn-default-bg-saturation);
    --button-bg-lightness: var(--btn-default-bg-lightness);
    --button-border-hue: var(--btn-default-border-hue);
    --button-border-saturation: var(--btn-default-border-saturation);
    --button-border-lightness: var(--btn-default-border-lightness);

    border-width: 1px;
    border-style: solid;
}

.btn-primary {
    --button-color: var(--btn-primary-color);
    --button-bg-hue: var(--btn-primary-bg-hue);
    --button-bg-saturation: var(--btn-primary-bg-saturation);
    --button-bg-lightness: var(--btn-primary-bg-lightness);
    --button-border-hue: var(--btn-primary-border-hue);
    --button-border-saturation: var(--btn-primary-border-saturation);
    --button-border-lightness: var(--btn-primary-border-lightness);
}

.btn-reset {
    &[disabled] {
        display: none;
    }
}

// special minimal icon-only buttons
.btn-icon-only {
    margin: 0 10px 0 10px;
    padding: 7px;
    color: var(--text-color);
    background: none;
    border: none;
    width: var(--input-height);
    height: var(--input-height);
    box-shadow: none;
    opacity: 0.7;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &:disabled,
    &.disabled {
        background: none;
        box-shadow: none;
    }

    &:hover,
    &:disabled,
    &.disabled {
        color: var(--text-color);
        opacity: 0.5;
    }
}

.form-footer .btn,
.form-footer .previous-page {
    --button-radius: 3rem;

    min-width: 25rem;
    height: 6rem;
    padding: 0;
    border: none;
    box-shadow: var(--theme-form-footer-button-shadow);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 0.833;
    text-decoration: none;
}
