// extracted from bootstrap dropdown.scss
//
//
// Dropdown menus
// --------------------------------------------------

:root {
    --dropdown-caret-width-base: 4px;
    --dropdown-zindex: 1000;
    --dropdown-divider-bg: #e5e5e5;
    --dropdown-bg: white;
    --dropdown-link-color: var(--gray-dark);
    --dropdown-link-hover-color: hsl(
        var(--gray-dark-hue),
        var(--gray-dark-saturation),
        calc(var(--gray-dark-lightness) + 5%)
    );
    --dropdown-component-active-color: white;
    --dropdown-component-active-bg: var(--brand-primary-color);
    --dropdown-link-disabled-color: var(--gray-light);
}

// Dropdown arrow/caret
.caret {
    display: block;
    position: absolute;
    width: 1.2rem;
    height: 0.8rem;
    top: calc(50% - 0.4rem);
    right: 1.6rem;
    background-size: 1.2rem 0.8rem;
}

.dropdown-toggle {
    margin-top: 1.6rem;
    border-radius: var(--input-border-radius);
}

// The dropdown menu (ul)
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: var(--dropdown-zindex);
    display: none;
    min-width: 160px;
    padding: 0.8rem 0;
    margin: 2px 0 0;
    // override default ul
    list-style: none;
    font-size: var(--font-size-base);
    background-color: var(--dropdown-bg);
    border-radius: var(--border-radius-base);
    box-shadow: var(--theme-menu-shadow);
    background-clip: padding-box;
    // Aligns the dropdown menu to right
    //
    // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
    &.pull-right {
        right: 0;
        left: auto;
    }
    // Dividers (basically an hr) within the dropdown
    .divider {
        height: 1px;
        margin: calc(var(--line-height-computed) * 0.5 - 1) 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
    // Links within the dropdown menu
    > li > a {
        font-weight: 400;
        line-height: var(--line-height-base);
        color: var(--dropdown-link-color);
        white-space: nowrap;
        // prevent links from randomly breaking onto new lines

        > label {
            display: flex;
            gap: 1.6rem;
            align-items: center;
        }

        &,
        & > label {
            &:active,
            &:focus,
            &:focus-visible {
                border: none;
                outline: none;
            }
        }

        input[type='checkbox'],
        input[type='radio'] {
            &,
            &:active,
            &:focus,
            &:focus-visible,
            &:checked {
                appearance: none;
                all: unset;
                flex-shrink: 0;
                width: 2rem;
                height: 2rem;
                line-height: 1.6;
            }

            &:checked {
                background: var(--image-icon-checkmark) 50%/2rem no-repeat;
            }
        }
    }
}

.or[dir='rtl'] {
    .dropdown-menu {
        right: 0;
    }
}

// Hover/Focus state
.dropdown-menu > li {
    padding: 0.6rem 1.6rem;
    line-height: 1.2;

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: var(--theme-menu-item-bg-hover);
    }
}

// Active state
.dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: 0;
    }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.dropdown-menu > .disabled > a {
    &,
    &:hover,
    &:focus {
        color: var(--dropdown-link-disabled-color);
    }
}

// Nuke hover/focus effects
.dropdown-menu > .disabled > a {
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        cursor: not-allowed;
    }
}

// Open state for the dropdown
.open {
    // Show the menu
    > .dropdown-menu {
        display: block;
    }
    // Remove the outline when :focus is triggered
    > a {
        outline: 0;
    }
}
