html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

html,
body,
.main,
.paper {
    position: relative;
}

.paper {
    position: relative;
    min-height: 100%;
}

.or {
    flex: 1;

    margin-bottom: 20px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: var(--layout-body-padding) 0 0;
    position: relative;
    width: 100%;
}

.paper {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: var(--layout-max-width);
    margin: 0 auto;
    padding: var(--layout-form-padding);
    position: relative;
    min-height: 100%;
}

.form-footer {
    padding: 2rem 0 var(--layout-body-padding);
}

.form-footer__content__main-controls {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: [powered-by] 1fr [secondary-control] auto [main-control] auto;
    gap: 2rem;
}

.powered-by {
    grid-column: powered-by;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: lowercase;
    color: var(--theme-powered-by);
}

.form-footer #submit-form,
.form-footer #validate-form,
.form-footer .next-page {
    grid-column: main-control;

    .icon {
        display: none;
    }
}

.form-footer .btn.next-page {
    display: none;
}
