.question {
    input {
        &[type='radio'],
        &[type='checkbox'] {
            -webkit-print-color-adjust: exact;
            color-adjust: exact;
            border-color: black;
            border-width: 1px;

            &:checked {
                border-color: black;
            }
        }

        &[type='checkbox']:checked::after {
            display: none;
        }

        &[type='radio']:checked {
            --radiocheck-checked-color: black;
        }
    }
}

.bootstrap-select {
    .option-wrapper > label {
        padding-left: 35px !important;
    }
}

[dir='rtl'] {
    .bootstrap-select {
        .option-wrapper > label {
            padding-right: 35px !important;
        }
    }
}
