.option-wrapper {
    line-height: 20px;
}

.question input[type='radio'],
.question input[type='checkbox'] {
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    border-width: 3px;
    border-style: solid;
    border-radius: 0;
    background-color: transparent;

    &:disabled,
    &[readonly] {
        border-color: hsl(
            var(--brand-primary-color-hue),
            var(--brand-primary-color-saturation),
            calc(var(--brand-primary-color-lightness) + 5%)
        );
    }
}

.question {
    input[type='radio'] {
        border-color: var(--radiocheck-unchecked-color);
        border-radius: 10px;

        &:checked {
            border-color: var(--radiocheck-checked-color);
            background-image: radial-gradient(
                4px,
                var(--radiocheck-checked-color) 0%,
                var(--radiocheck-checked-color) 99%,
                transparent 100%
            );
        }
    }

    input[type='checkbox'] {
        appearance: none;
        border-color: var(--radiocheck-unchecked-color);

        &:checked {
            position: relative;
            border-color: var(--radiocheck-checked-color);

            &::after {
                --checkmark: #{url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><path d='M25.1 12.5l-3.4-3.3-8 8-2.9-3-3.4 3.4 6.3 6.3z'/></svg>")};

                content: '';
                display: block;
                position: absolute;
                top: -3px;
                left: -3px;
                width: 32px;
                height: 32px;
                transform-origin: 0 0;
                transform: scale(0.625);
                background-color: var(--radiocheck-checked-color);
                mask: var(--checkmark);
                -webkit-mask: var(--checkmark);
            }
        }
    }

    input[type='radio']:focus,
    input[type='radio']:checked:focus,
    input[type='checkbox']:focus,
    input[type='checkbox']:checked:focus {
        outline: 0;
        box-shadow: 0 0 0 1px var(--input-border-focus),
            0 0 8px var(--input-border-focus-shadow);
    }
}

// tweak for touchscreens
.touch .question.simple-select {
    .option-wrapper {
        .option-label {
            //TODO: do not yet know why this correction is necessary
            margin-left: 35px;
        }
    }
}

// tweaks for rtl display
.or[dir='rtl'],
[dir='rtl'] .form-footer {
    .question {
        input[type='checkbox'],
        input[type='radio'] {
            margin-right: 0;
            margin-left: 10px;
        }
    }
}
