.question input[type='checkbox'],
.question input[type='radio'] {
    appearance: none;
    width: 1em;
    height: 1em;
    border: 0.1em solid var(--radiocheck-unchecked-border-color);
    background-color: var(--radiocheck-unchecked-bg-color);

    &:checked {
        border: 0.1em solid var(--radiocheck-checked-border-color);
    }

    &:focus,
    &:focus-visible {
        border-color: var(--radiocheck-checked-border-color);
        outline: none;
    }
}

.question input[type='checkbox'] {
    border-radius: 0.2rem;

    &:checked {
        --mask-image: #{url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBkPSJNMTkgM0g1Yy0xLjExIDAtMiAuOS0yIDJ2MTRjMCAxLjEuODkgMiAyIDJoMTRjMS4xMSAwIDItLjkgMi0yVjVjMC0xLjEtLjg5LTItMi0yem0tOSAxNGwtNS01IDEuNDEtMS40MUwxMCAxNC4xN2w3LjU5LTcuNTlMMTkgOGwtOSA5eiIgZmlsbD0iIzAwMCI+PC9wYXRoPjwvc3ZnPg==')};

        mask: var(--mask-image) 50% no-repeat;
        -webkit-mask: var(--mask-image) 50% no-repeat;
        background-color: var(--radiocheck-checked-bg-color);
    }
}

.question input[type='radio'] {
    border-radius: 50%;

    &:checked {
        background: var(--radiocheck-checked-bg-color)
            radial-gradient(
                circle at center,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 1) 50%
            )
            50% no-repeat;
    }
}
