html,
body {
    margin: 0;
    padding: 0;
}

.form-footer {
    --form-footer-margin: var(--form-padding);

    margin: var(--form-footer-margin) calc(var(--form-footer-margin) * -1)
        calc(var(--form-footer-margin) * -1)
        calc(var(--form-footer-margin) * -1);
}

@media screen and (max-width: 400px) {
    input {
        &[type='text'],
        &[type='password'],
        &[type='url'],
        &[type='email'],
        &[type='date'],
        &[type='number'],
        &[type='time'],
        &[type='datetime-local'],
        &[type='file'] {
            width: 100%;
        }
    }

    select,
    textarea {
        width: 100%;
    }
}
