// load this before the core/variables

@use './core/variables';

:root {
    --font-size-base: 15px;
    --brand-primary-color-hue: 21.71deg;
    --brand-primary-color-saturation: 93.43%;
    --brand-primary-color-lightness: 41.76%;

    --radiocheck-unchecked-color: #cccccc;
    --radiocheck-checked-color: hsl(
        var(--brand-primary-color-hue),
        var(--brand-primary-color-saturation),
        calc(var(--brand-primary-color-lightness) + 10%)
    );

    --note-bg: white;
    --note-border: 1px solid #e1e1e1;
    --note-border-radius: 0;
    --input-border-focus-rgb: 102 175 233;
    --input-border-focus: rgb(var(--input-border-focus-rgb));
    --input-border-focus-shadow: rgba(var(--input-border-focus-rgb), 0.6);
}
