@use './jquery.RelevantDropdown';

input[type='text'].autocomplete {
    // width of input same as width of regular select
    width: calc(var(--input-min-width) * var(--golden-ratio) - 14px);

    &.notfound {
        color: var(--gray-light);
    }
}

.touch {
    input[type='text'].autocomplete {
        width: 100%;
    }
}

// to remove caret: http://stackoverflow.com/questions/20937475/remove-datalist-dropdown-arrow-in-chrome
