@use '../variables' as material;
@use './jquery.RelevantDropdown';

input[type='text'].autocomplete {
    // width of input same as width of regular select
    width: material.$input-min-width * material.$golden-ratio - 14px;

    &.notfound {
        color: material.$gray-light;
    }
}

.touch {
    input[type='text'].autocomplete {
        width: 100%;
    }
}

// to remove caret: http://stackoverflow.com/questions/20937475/remove-datalist-dropdown-arrow-in-chrome
