@use 'node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min';

/** fixes by martijn **/

.question .date {
    input[type='text'] {
        display: inline-block;
        width: var(--input-min-width);
        min-width: 0;
    }
}

// Bootstrap Table stuff

:root {
    --bootstrap-table-cell-padding: 8px;

    //** Padding for cells in `.table-condensed`.
    --bootstrap-table-condensed-cell-padding: 5px;

    //** Default background color used for all tables.
    --bootstrap-table-bg: transparent;

    //** Background color used for `.table-striped`.
    --bootstrap-table-bg-accent: #f9f9f9;

    //** Background color used for `.table-hover`.
    --bootstrap-table-bg-hover-hue: 0deg;
    --bootstrap-table-bg-hover-saturation: 0%;
    --bootstrap-table-bg-hover-lightness: 96%;

    --bootstrap-table-bg-hover: hsl(
        var(--bootstrap-table-bg-hover-hue),
        var(--bootstrap-table-bg-hover-saturation),
        var(--bootstrap-table-bg-hover-lightness)
    );

    --bootstrap-table-bg-active-hue: var(--bootstrap-table-bg-hover-hue);
    --bootstrap-table-bg-active-saturation: var(
        --bootstrap-table-bg-hover-saturation
    );
    --bootstrap-table-bg-active-lightness: var(
        --bootstrap-table-bg-hover-lightness
    );

    --bootstrap-table-bg-active: hsl(
        var(--bootstrap-table-bg-active-hue),
        var(--bootstrap-table-bg-active-saturation),
        var(--bootstrap-table-bg-active-lightness)
    );

    //** Border color for table and cell borders.
    --bootstrap-table-border-color: #dddddd;
}

//
// Tables
// --------------------------------------------------

table {
    max-width: 100%;
    background-color: var(--bootstrap-table-bg);
}

th {
    text-align: left;
}

.table-condensed {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: var(--bootstrap-table-condensed-cell-padding);
            }
        }
    }
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
    > tbody > tr:hover {
        > td,
        > th {
            background-color: var(--bootstrap-table-bg-hover);
        }
    }
}

// Table cell sizing
//
// Reset default table behavior

table col[class*='col-'] {
    position: static;

    // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
    float: none;
    display: table-column;
}

table {
    td,
    th {
        &[class*='col-'] {
            position: static;

            // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
            float: none;
            display: table-cell;
        }
    }
}

// Generate the contextual variants
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
    > td.active,
    > th.active,
    &.active > td,
    &.active > th {
        background-color: var(--bootstrap-table-bg-active);
    }
}

// Hover states for `.table-hover`
// Note: this is not available for cells or rows within `thead` or `tfoot`.
.table-hover > tbody > tr {
    > td.active:hover,
    > th.active:hover,
    &.active:hover > td,
    &.active:hover > th {
        background-color: hsl(
            var(--bootstrap-table-bg-active-hue),
            var(--bootstrap-table-bg-active-saturation),
            calc(var(--bootstrap-table-bg-active-lightness) - 5%)
        );
    }
}
