@use '../mixins';

.file-picker {
    .fake-file-input {
        @include mixins.form-control;
        display: inline-block;
        width: var(--input-max-width);
        text-align: start;
    }

    .file-feedback,
    .file-preview {
        @include mixins.font-normal;
    }

    .file-feedback.error {
        @include mixins.question-error-message;
    }

    .file-feedback.warning {
        @include mixins.question-error-message;

        color: var(--state-warning-text);
    }

    .file-preview {
        margin-top: 10px;
    }

    .btn-download {
        margin-right: 0;
        &[href=''] {
            display: none;
        }
    }
}
