.file-picker {
    .fake-file-input {
        display: inline-block;
        width: var(--input-max-width);
        text-align: start;
    }

    .file-feedback,
    .file-preview {
        font: revert;
    }

    .file-feedback.error,
    .file-feedback.warning {
        --feedback-color: var(--state-warning-text);
    }

    .file-preview {
        margin-top: 10px;
    }

    .btn-download {
        margin-right: 0;
        &[href=''] {
            display: none;
        }
    }
}
