// Many thanks to https://css-tricks.com/sliding-nightmare-understanding-range-input/
:root {
    --range-track-w: 100%;
    --range-track-h: 1px;
    --range-thumb-d: 20px;
    --range-margin: 10px;
    --range-height: 200px;
    --range-thumb-color: var(--brand-primary-color);
    --range-tick-color: var(--gray-dark);
    --range-track-color: var(--range-tick-color);
    --range-thick-w: 1px;
    --range-pad: 10px;
    --range-left: -85px;
}

.range-widget__ticks {
    position: relative;
}

.range-widget__ticks::before {
    --range-ticks-track-start: 0;
    --range-ticks-track-center: 50%;

    content: '';
    display: block;
    position: absolute;
    top: var(--range-ticks-track-center);
    left: var(--range-ticks-track-start);
    width: var(--range-track-w);
    height: var(--range-track-h);
    box-sizing: border-box;
    border: none;
    background: var(--range-track-color);
    pointer-events: none;
}

[type='range'] {
    &,
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    padding: calc(0.25 * var(--range-margin));
    width: var(--range-track-w);
    background: transparent;
    font: 1em/1 arial, sans-serif;
    z-index: 10;

    &::-webkit-slider-thumb {
        box-sizing: border-box;
        border: 1px solid var(--range-thumb-color);
        width: var(--range-thumb-d);
        height: var(--range-thumb-d);
        border-radius: 50%;
        background: var(--range-thumb-color);
        cursor: pointer;
    }

    &::-moz-range-thumb {
        box-sizing: border-box;
        border: 1px solid var(--range-thumb-color);
        width: var(--range-thumb-d);
        height: var(--range-thumb-d);
        border-radius: 50%;
        background: var(--range-thumb-color);
        cursor: pointer;
    }

    &:focus {
        outline: 0;

        --thumb-focus-box-shadow: 0 0 0 1px var(--input-border-focus),
            0 0 8px var(--input-border-focus-shadow);

        &::-webkit-slider-thumb {
            outline: 0;
            box-shadow: var(--thumb-focus-box-shadow);
        }

        &::-moz-range-thumb {
            outline: 0;
            box-shadow: var(--thumb-focus-box-shadow);
        }
    }

    &.empty {
        &::-webkit-slider-thumb {
            background: transparent;
            border-color: transparent;
        }

        &::-moz-range-thumb {
            background: transparent;
            border-color: transparent;
        }
    }

    &[disabled] {
        &::-webkit-slider-thumb {
            opacity: 0.7;
        }

        &::-moz-range-thumb {
            opacity: 0.7;
        }
    }
}

.range-widget {
    position: relative;

    &__wrap {
        width: var(--range-track-w);
        height: var(--range-height);
        z-index: 0;
        text-align: center;
    }

    &__current {
        padding-bottom: var(--range-pad);
        vertical-align: middle;
        line-height: calc(
            (var(--range-height) - (3 * var(--range-track-h))) * 0.5
        );
        min-height: calc(
            10px + (var(--range-height) - (3 * var(--range-track-h))) * 0.5
        );
    }

    &__ticks {
        height: 20px;
        box-sizing: border-box;
        padding-left: calc(0.5 * var(--range-thumb-d) + 2px);
        padding-right: calc(0.5 * var(--range-thumb-d) + 2px);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        span {
            flex: 1;
            border-left: var(--range-thick-w) solid var(--range-tick-color);

            &:last-child {
                border-right: var(--range-thick-w) solid var(--range-tick-color);
            }
        }
    }

    &__scale {
        display: flex;
        padding-top: var(--range-pad);
        justify-content: space-between;

        &__start,
        &__end,
        &__between {
            width: calc(2 * var(--range-margin));
            opacity: 0.7;
            font-weight: normal;
        }
    }

    [type='range'] {
        position: absolute;
        top: 93.5px;
        left: 0;
    }

    .btn-reset {
        margin: 15px;
    }
}

.or-appearance-vertical,
.or-appearance-distress {
    --v-height: 350px;

    input[type='range'] {
        transform: rotate(-90deg);
        width: var(--v-height);
        margin: 0 var(--range-margin);
        top: 158px;
        left: var(--range-left);
        right: var(--range-left);
    }

    .range-widget {
        &__wrap {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            height: var(--v-height);
            width: var(--range-height);
            margin-top: 20px;
        }

        &__current {
            flex: 1;
            padding-right: var(--range-pad);
            padding-bottom: 0;
            line-height: var(--v-height);
        }

        &__ticks {
            width: 20px;
            height: auto;
            border-right: none;
            padding-left: 0;
            padding-right: 0;
            padding-top: calc(0.5 * var(--range-thumb-d) + 2px);
            padding-bottom: calc(0.5 * var(--range-thumb-d) + 2px);
            flex-direction: column;

            span {
                border-top: var(--range-thick-w) solid var(--range-tick-color);
                border-left: none;

                &:last-child {
                    border-bottom: var(--range-thick-w) solid
                        var(--range-tick-color);
                    border-right: none;
                }
            }
        }

        &__scale {
            flex: 1;
            padding-top: 0;
            padding-left: var(--range-pad);
            flex-direction: column-reverse;
        }
    }
}

.or[dir='rtl'] {
    .or-appearance-vertical,
    .or-appearance-distress {
        input[type='range'] {
            transform: rotate(90deg);
        }
    }
}

.or-appearance-vertical .range-widget .range-widget__ticks::before {
    --range-track-w: 1px;
    --range-track-h: 100%;

    top: var(--range-ticks-track-start);
    left: var(--range-ticks-track-center);
}

.or-appearance-distress .range-widget .range-widget__ticks::before {
    --range-track-w: 4px;
    --range-track-h: calc(100% + 20px);

    top: -10px;
    left: calc(
        100% + (var(--bulb-w) * 0.25) - calc(0.5 * var(--range-track-w))
    );
    border-radius: calc(0.5 * var(--range-track-w));
    z-index: 1;
}

/* distress flavor of vertical range widget*/

.or-appearance-distress {
    --border: 1px solid #aaaaaa;
    --bulb-w: 60px;
    --ds-thumb-color: #3a94a5;
    --ds-track-h: 4px;
    --red: rgb(226, 4, 24);
    --yellow: rgb(253, 211, 3);
    --green: rgb(60, 182, 67);
    --shift-top: 15px;
    --range-track-color: linear-gradient(
        to bottom,
        #f9f9f9 0%,
        whitesmoke 100%
    );
    --range-track-h: var(--ds-track-h);
    --range-thumb-color: var(--ds-thumb-color);

    input[type='range'] {
        top: calc(158px + var(--shift-top));
        left: calc(var(--range-left) - 42.5px);
        right: calc(var(--range-left) - 42.5px);
    }

    .range-widget {
        > * {
            //border: 1px red solid;
        }

        &__wrap {
            width: 115px;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            padding-top: var(--shift-top);
            height: calc(var(--v-height) + var(--bulb-w));
        }

        &__current {
            visibility: hidden;
            padding: 0 calc(5.5px + 0.5 * 1.5 * var(--ds-track-h));

            &:empty:after {
                display: block;
                content: '-';
            }
        }

        &__ticks {
            width: 6px;
            padding: 0;
            margin: calc(0.5 * var(--range-thumb-d) + 2px) 0;
        }

        &__bg {
            width: calc(var(--bulb-w) * 0.5);
            border-radius: calc(var(--bulb-w) * 0.25);
            border: var(--border);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;
            margin-top: -15px;
            background-image: linear-gradient(
                var(--red),
                var(--yellow) 50%,
                var(--green)
            );
            z-index: 1;
        }

        &__scale {
            position: relative;
            text-align: end;
            align-items: flex-end;
            padding: 0 5.5px;
        }

        &__bulb {
            width: var(--bulb-w);
            height: var(--bulb-w);
            border: var(--border);
            border-radius: calc(var(--bulb-w) * 0.5);
            margin: -7px auto 10px auto;
            background: var(--green);
            position: relative;
            pointer-events: none;

            &__inner {
                --inner-width: 24px;

                width: var(--inner-width);
                height: var(--inner-width);
                border-radius: calc(var(--inner-width) * 0.5);
                background: var(--ds-thumb-color);
                margin: calc((var(--bulb-w) - var(--inner-width) - 2px) * 0.5);
            }

            &__mercury {
                position: absolute;
                left: calc(50% - var(--ds-track-h) / 2);
                right: calc(50% - var(--ds-track-h) / 2);
                bottom: calc(var(--bulb-w) * 0.5);
                background: var(--ds-thumb-color);
                min-height: calc((var(--bulb-w) * 0.5) - 5px);
                width: var(--ds-track-h);
                z-index: 100;
            }
        }

        .btn-reset {
            position: absolute;
            top: 140px;
            left: 70px;
            right: 70px;
        }
    }
}
