.bootstrap-select {
    .dropdown-toggle {
        width: calc(var(--input-min-width) * var(--golden-ratio) - 14px);
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: left;

        .selected {
            width: calc(100% - 12px);
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        ~ .dropdown-menu {
            max-height: 200px;
            max-width: 100%;
            overflow: auto;

            .option-wrapper {
                text-decoration: none;

                label {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.readonly .bootstrap-select .dropdown-toggle {
    opacity: 0.7;
}

.or[dir='rtl'] .bootstrap-select {
    .dropdown-toggle {
        text-align: right;
        .caret {
            margin-left: 0;
            margin-right: 10px;
            left: 12px;
            right: auto;
        }
    }
}

// extracted from bootstrap button-groups.scss:
//
// Button groups
// --------------------------------------------------

// Make the div behave like a button
.btn-group {
    position: relative;
    //display: inline-block;
    vertical-align: middle;
    // match .btn alignment given font-size hack above
    > .btn {
        position: relative;
        // Bring the "active" button to the front
        &:hover,
        &:focus,
        &:active,
        &.active {
            z-index: 2;
        }
        &:focus {
            // Remove focus outline when dropdown JS adds it after closing the menu
            //outline: none;
        }
    }
}
