@use './TimePicker';

.timepicker {
    input[type='text'] {
        display: inline-block;
        width: var(--input-min-width);
    }
}

.timepicker-widget {
    &.dropdown-menu {
        input {
            width: 50px;
            margin: 0 auto;
        }
    }
}

.timepicker-widget table td span {
    width: 12px;
}

.timepicker-widget table td a i {
    width: 11px;
    height: 17px;
    display: inline-block;
}
