.timepicker {
    position: relative;

    // Temporarily hide reset button until we know what we're doing with it
    .btn-reset {
        display: none;
    }
}

.timepicker-widget.dropdown-menu {
    // Temporarily display time part inputs as text
    input {
        appearance: none;
        all: unset;
        font: inherit;
        pointer-events: none;
    }
}

/*!
 * Timepicker
 *
 * Forked from https://github.com/jdewit/bootstrap-timepicker:
 *
 * Copyright 2013 Joris de Wit and timepicker contributors
 *
 * Contributors https://github.com/jdewit/bootstrap-timepicker/graphs/contributors
 * Contributors https://github.com/enketo/timepicker-basic/graphs/contributors
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.timepicker {
    position: relative;

    // Temporarily hide reset button until we know what we're doing with it
    .btn-reset {
        display: none;
    }

    &.pull-right {
        .timepicker-widget {
            &.dropdown-menu {
                left: auto;
                right: 0;
                &:before {
                    left: auto;
                    right: 1.2rem;
                }
                &:after {
                    left: auto;
                    right: 1.2rem;
                }
            }
        }
    }

    .input-group-addon {
        cursor: pointer;
        i {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}

.timepicker-widget {
    &.dropdown-menu {
        &.open {
            display: inline-block;
        }
    }

    &.timepicker-orient-left {
        &:before {
            left: 0.6rem;
        }
        &:after {
            left: 0.6rem;
        }
    }
    &.timepicker-orient-right {
        &:before {
            right: 0.6rem;
        }
        &:after {
            right: 0.6rem;
        }
    }
    &.timepicker-orient-top {
        &:before {
            top: -0.6rem;
        }
        &:after {
            top: -0.6rem;
        }
    }
    &.timepicker-orient-bottom {
        &:before {
            bottom: -0.6rem;
            border-bottom: 0;
            border-top: 0.6rem solid #999;
        }
        &:after {
            bottom: -0.6rem;
            border-bottom: 0;
            border-top: 0.6rem solid #ffffff;
        }
    }
    a.btn,
    input {
        width: 3.6rem;
        border-radius: 1.8rem;

        &:hover {
            background-color: var(--m3-ref-primary-95);
        }
    }
    table {
        width: 100%;
        margin: 0;
        td {
            text-align: center;
            height: 3rem;
            margin: 0;
            padding: 0.2rem;

            &:not(.separator) {
                min-width: 3rem;
            }

            span {
                width: 100%;
            }

            a {
                display: grid;
                place-content: center;
                width: 3.6rem;
                height: 3.6rem;
                margin: auto;
                border-radius: 1.8rem;

                &:hover {
                    background-color: var(--m3-ref-primary-95);
                }
            }

            input {
                width: 2ch;
                margin: 0;
                text-align: center;
            }
        }
    }
}

/** Removed media query adjustment here to fix print issue (MvdR) */
