@use '../mixins';
@use '../variables' as core;

* {
    @include mixins.box-sizing(border-box);
}

*:before,
*:after {
    @include mixins.box-sizing(border-box);
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    @include mixins.font-normal;

    font-size: core.$font-size-base;
    line-height: core.$line-height-base;
    color: core.$text-color;
    background-color: core.$body-bg;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: core.$link-color;

    &:hover,
    &:focus {
        color: core.$link-hover-color;
    }

    &:focus {
        @include mixins.tab-focus;
    }
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

hr {
    margin-top: core.$line-height-computed;
    margin-bottom: core.$line-height-computed;
    border: 0;
    border-top: 1px solid core.$hr-border;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: core.$font-size-base * 2.75;
}

h2 {
    font-size: core.$font-size-base * 2.25;
}

h3 {
    font-size: core.$font-size-base * 1.75;
}

h4 {
    font-size: core.$font-size-base * 1.25;
}

h5 {
    font-size: core.$font-size-base;
}

h6 {
    font-size: core.$font-size-base * 0.85;
}

h2,
h3,
h4 {
    font-weight: bold;
}

input,
select,
textarea {
    font-weight: normal;
}
